#  Node.js Dependencies and Logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
logs/
*.log

#  Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

#  App Runtime Files
uploads/
exports/

#  Build Outputs
build/
dist/
out/
coverage/
*.tgz


#  OS and IDE-specific
.DS_Store         # macOS
.vscode/          # VS Code

# Frameworks (optional)
.parcel-cache/
.next/            # Next.js
